* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #faf4fb;
}

header {
  min-height: 100vh;
  padding: 1rem 8rem;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  color: #fff;
  position: relative;
}

.logo {
  font-size: 1.8rem;
  color: #000;
  font-weight: 800;
}

/* Container for links + buttons */
.nav-right {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.nav-links a {
  color: #9a90a3;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bolder;
}

.nav-buttons {
  display: flex;
  gap: 2rem;
}

.btn {
  color: #9a90a3;
  padding: 0.5rem 1.3rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  transition: background 0.3s ease;
  background-color: transparent;
  font-weight: bolder;
}

.signup {
  /* border-color: #FBE6FF; */
  border: 3px solid #eec7f5;
}

.freetrial {
  background-color: #fbe6ff;
  background-image: linear-gradient(to right, #c275f1, #e884c0);
  color: white;
  border: none;
}

/* Hamburger Menu  */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: #333;
  margin: 4px 0;
  transition: 0.5s;
}

/* Header Design */
.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 115rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  align-content: center;
  justify-content: center;
}

.header__title h1 {
  max-width: 24rem;
  font-size: 2.4rem;
  line-height: 2.5rem;
  color: #352c4a;
  margin-bottom: 1.2rem;
}

.header__title p {
  max-width: 28rem;
  color: #352c4a;
  margin-bottom: 1.2rem;
  font-size: 0.8rem;
  font-weight: 400;
}

.two-buttons {
  display: flex;
  gap: 3rem;
}

.enroll {
  background-color: #fbe6ff;
  background-image: linear-gradient(to right, #c275f1, #e884c0);
  color: white;
  border: none;
}

.etech {
  border: none;
  border-bottom: 1px solid #c275f1;
  cursor: pointer;
  background: none;
  padding-bottom: 2px;
  transition: all 0.3s;
  display: inline-block;
}

.header-image {
  max-width: 100%;
  width: 90%;
  height: auto;
  border-radius: 50%;
  transition: transform 0.5s;
}

.header-image.rotate {
  transform: rotate(360deg);
}

.pallete {
  background-image: linear-gradient(to right, #c275f1, #e884c0);
  width: 100%;
  height: 50px;
}


/* Sections design */
.section {
  padding-bottom: 5rem;
}

.Search {
  text-align: center;
  margin-top: 3rem;
}

.section-title {
  margin-bottom: 1rem;
}

.search-buttons {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  gap: 1rem;
  margin-bottom: 6rem;
}

.search-input {
  background-image: url("https://cdn-icons-png.flaticon.com/512/622/622669.png");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 10px center;
  background-color: white;
  /* margin-right: 5rem; */
  padding-left: 35px;
  border: 0px solid #ccc;
  border-radius: 10px;
  height: 36px;
  width: 200px;
  flex-shrink: 0;
}

.search-but {
  background-image: linear-gradient(to right, #c275f1, #e884c0);
  border: none;
  color: white;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  flex-shrink: 0;
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  /* gap: 10px; */
  max-width: 400px;
  width: 100%;
}

.picture-container img {
  width: calc(50% - 5px);
  height: auto;
}

.first-img {
  border-radius: 6rem 0;
}

.second-img {
  border-radius: 0 6rem;
}

.third-img {
  border-radius: 0 6rem;
}

.fourth-img {
  border-radius: 6rem 0 6rem;
}

.section__content {
  display: flex;
  justify-content: center;
  gap: 6rem;
  width: 100%;
  margin: 0;
}

.section__content2 {
  width: 32rem;
}

.section__content2 h2 {
  margin-bottom: 1rem;
  max-width: fit-content;
  width: 20rem;
  line-height: 1.8rem;
}

.section__content2 span {
  color: #c275f1;
}

.grid {
  display: flex;
  margin-bottom: 1rem;
}

.fas {
  margin-right: 2rem;
  background-color: #c275f1;
  color: white;
  border-radius: 50%;
  padding: 0.8rem 0.8rem;
}

.fa-book-open {
  background-color: #fd8da6;
}

.fa-play {
  background-color: #fd8da6;
}

.box h4 {
  margin-bottom: 0.3rem;
}

.box p {
  font-size: 0.8rem;
}

/* Section 2  */
.section2 {
  background-image: linear-gradient(to right, #c275f1, #e884c0);
  min-height: 100vh;
  padding-top: 4rem;
}

.section2__Search {
  text-align: center;
  color: white;
  margin-bottom: 3rem;
}

.section2__desc {
  max-width: 500px;
  font-size: 1rem;
  margin: auto;
  line-height: 1.2rem;
  margin-top: 1rem;
}

/* Box-Container design */
.three-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 3rem;
}
.first-container {
  width: 268px;
  height: auto;
  background-color: white;
  padding: 0.5rem;
  border-radius: 1rem;
}

.container__image {
  width: 250px;
  height: 200px;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.sub-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.3rem;
}


.sub-container h5 {
  margin-left: 0.3rem;
  background-color: #E9D2FF;
  padding: 0.3rem 0.7rem;
  border-radius: 0.4rem;
  color: #B19DC1;
  font-weight: 600;
}

.sub-container p {
  background-color: #B670F6;
  margin-right: 1rem;
  padding: 0.1rem 0.5rem;
  color: white;
  border-radius: 0.4rem;
}

.three-container h4 {
  width: 8.2rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.sub-container2 {
  display: flex;
  gap: 1rem;
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
}

.three-container h3 {
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

/* Section 3 Design */
.section3 {
  padding: 5rem 6rem 5rem 6rem;
  display: flex;
  gap: 2rem;
  /* justify-content: center; */
}

.sub-contain3 {
  width: 600px;
}

.sub-contain3 h1 {
  max-width: 350px;
}

.sub-contain3 h1 span {
  color: #B670F6;
}

.sub-contain3 p {
  line-height: 1.3rem;
  margin-bottom: 0.8rem;
  color: #8D8A8D;
  margin-top: 0.5rem;
  max-width: 320px;
  font-size: 0.8rem;
}

li::marker {
  color: purple;
  font-size: 1.2rem;
}

.become-an-instructor {
  background-image: linear-gradient(to right, #c275f1, #e884c0);
  color: white;
  border: none;
}

.bullet {
  display: flex;
  gap: 2.5rem;
  margin-left: 1rem;
  line-height: 1.7rem;
  margin-bottom: 1rem;
  margin-top: 0.6rem;
  font-weight: bold;
}

.second-subcontain3 img {
  max-width: 350px;
  height: auto;
  border-radius: 0 0 50% 50%;
}

/* Section 4 design */




/* Section 5 design */
.section5 {
  background-color: white;
  height: auto;
  width: 100%;
  border-radius: 60px 0 60px 0;
  padding: 4rem 0;
  color: white;
}

.sub-container5 {
  background-image: linear-gradient(to right, #c275f1, #e884c0);
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 4rem;
  border-radius: 1rem;
  overflow: hidden;
}

.sub-container5 p {
  font-size: 0.8rem;
  max-width: 300px;
  text-align: center;
  margin: auto;
  margin-bottom: 1.5rem;
}

.two {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 1rem;
}

.sub-container5 .in {
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 0.4rem;
  width: 300px;
  font-weight: bolder;
}

.sub-container5 .sub {
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 0.4rem;
  width: 300px;
  font-weight: bolder;
  color: #c275f1;
  font-size: 1rem;
  cursor: pointer;
}

/* Footer Design */
footer {
  background-image: linear-gradient(to left, #c275f1, #e884c0);
  min-height: auto;
  padding: 3rem 4rem 1.5rem 8rem;
  color: white;
  
}

.footer-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 0.6rem;
}

.footer-div {
  width: 180px;
  line-height: 1.6rem;
  flex: 1 1 ;
}

.footer-div h4 {
  margin-bottom: 0.4rem;
}

.footer-div li {
  list-style: none;
  margin-bottom: 0.3rem;
}

.footer-div li a {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
}


.handles {
  display: flex;
  gap: 1rem;
  margin-top: 0.3rem;
}

.handles img {
  width: 25px;
  background-color: white;
  border-radius: 50%;
}

footer hr {
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, rgba(217, 214, 214, 0), rgb(233, 232, 232), rgba(230, 224, 224, 0));
  color: #fbe6ff;
  margin-bottom: 1rem;
}

.copyright {
  text-align: center;
}



















/* Responsive */
@media (max-width: 768px) {
  header {
    padding: 0;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 7px;
  }

  .nav-right {
    position: absolute;
    top: 60px;
    right: 0;
    background: #333;
    flex-direction: column;
    width: 100%;
    height: auto;
    display: none;
    padding: 1rem 0;
  }

  .nav-right.active {
    display: flex;
  }

  .nav-links {
    flex-direction: column;
    gap: 1.2rem;
    text-align: center;
  }

  .nav-buttons {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.2rem;
  }

  .hamburger {
    display: flex;
  }

  header {
    min-height: 100vh;
  }

  .header__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    padding: 1rem;
  }
  .two-buttons {
    display: flex;
    justify-content: center;
  }

  .section-title {
    margin-top: 2rem;
  }

  .search-buttons {
    margin-bottom: 2rem;
  }

  .picture-container {
    padding: 1rem 1rem;
    margin: 0 auto;
  }

  .section__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    gap: 1rem;
  }

  .section__content2 {
    width: 100%;
    padding: 1rem 1rem;
    font-size: 0.8rem;
    margin-top: 0;
  }

  /* Section 2 Responsive */
.section2__desc {
  font-size: 0.6rem;
  margin: 0 0.6rem;
}

.three-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.section3 {
  padding: 2rem 1rem;
}

.sub-contain3 {
  width: 100%;
  margin: auto;
}

.bullet {
  display: flex;
  gap: 1.2rem;
  margin-left: 1rem;
  font-size: 0.6rem;
  line-height: 1rem;
}

.section3 {
  display: flex;
  flex-direction: column;
}

.second-subcontain3 img {
  display: flex;
  max-width: 70%;
  height: auto;
  margin: 0 auto;
}

.section5 {
  padding: 2rem 1rem;
}

.sub-container5 {
  margin: 2rem 0;
  /* margin: auto; */
}

.sub-container5 p {
  /* max-width: 100%; */
  
  
  
}

.sub-container5 .in {
  width: 100%;
}

.sub-container5 .sub {
  width: 100%;
}

.two {
  display: flex;
  flex-direction: column;
}


/* Footer Responsive Design */
footer {
  padding: 1rem;

}






}